# Python
__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.env

# Mac
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Data (optional)
data/*.csv

# Frontend
node_modules/
dist/
build/

# VSCode
.vscode/

# OS
Thumbs.db